@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}
.heart {
  animation: heart 1000ms infinite;
}

@keyframes heartBig {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.5);
  }
}

.heartBig {
  animation: heartBig 1000ms infinite;
}

@keyframes heartSmall {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.05);
  }
}
.heartSmall {
  animation: heartSmall 1000ms infinite;
}
